<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>SKIN TYPE QUIZ</title>
    <link href="~/Content/css/quiz.css" rel="stylesheet" />
</head>
<body>
    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <h2 id="questions">questions</h2>
            <ul>
                <li>
                    <input type="radio" name="answer" class="answer" id="a"><label for="a" id="a_text">a</label></input>
                </li>
                <li>
                    <input type="radio" name="answer" class="answer" id="b"><label for="b" id="b_text">b</label></input>
                </li>
                <li>
                    <input type="radio" name="answer" class="answer" id="c"><label for="c" id="c_text">c</label></input>
                </li>
                <li>
                    <input type="radio" name="answer" class="answer" id="d"><label for="d" id="d_text">d</label></input>
                </li>
            </ul>
        </div>
        <button type="button" id="button">Submit</button>
    </div>
    <script>
        const quiz_Data = [
            {
                question: "Sau khi tôi rửa mặt, da của tôi cảm thấy.",
                a: "Căng da và không thoải mái",
                b: "Căng bóng ngay cả vào buổi trưa!",
                c: "Cảm thấy hơi căng, nhưng hầu như không sao, nhưng sau đó sẽ căng bóng vào buổi chiều",
                d: "Có màu đỏ và đôi khi cảm thấy ngứa",
                correct: "d"
            },
            {
                question: "Lỗ chân lông của tôi...",
                a: "Lỗ chân lông nào? Tôi hầu như không nhận thấy chúng.",
                b: "Trông lớn quá! Lúc nào cũng vậy.",
                c: "Tôi ghét trên mũi! Nhưng trên má tôi thậm chí còn không nhìn thấy chúng!",
                d: "Ai quan tâm đến lỗ chân lông chứ! Mặt tôi đỏ quá/đầy vết loang lổ nên không nhận ra!",
                correct: "a"
            },
            {
                question: "Nhìn chung, làn da của tôi...",
                a: "Có thể bong tróc một chút, nhưng chắc chắn là xỉn màu, có ít đường nhăn và nếp nhăn.",
                b: "Trông giống vỏ cam căng bóng!",
                c: "Có vẻ ổn. Ý tôi là một chút dầu, một chút bong tróc. Có thể là bị nhẹ.",
                d: "Có vẻ bong tróc, vì vậy tôi chà nó, và nó chỉ đỏ lên và trông bong tróc hơn?",
                correct: "a"
            },
            {
                 question: " Khi tôi chạm vào mặt mình...",
                a: "Da tôi hơi sần sùi và nhăn nheo.",
                b: "Tôi cảm thấy cần một chiếc khăn ăn để lau những ngón tay dính dầu mỡ của mình!",
                c: "Má tôi hơi giống giấy nhám, nhưng trán tôi trơn!",
                d: "Tôi không thể chạm vào mặt mình, nếu không nó sẽ chuyển sang màu đỏ!",
                correct: "c"
            },
            {
                question: "Sản phẩm chăm sóc da mà tôi không nên thiếu là...",
                a: "Dưỡng ẩm loại nhiều 'đô' hơn!",
                b: "Sữa rửa mặt tạo bọt",
                c: "Kem dưỡng ẩm nhẹ",
                d: "Tôi có được phép chọn một viên đá trên một sản phẩm không?",
                correct: "c"
            }
        ]
        let result = [];

        const questionEl = document.getElementById('questions')
        const answerEl = document.querySelectorAll('.answer')
        const quiz = document.getElementById('quiz')
        const a_text = document.getElementById('a_text')
        const b_text = document.getElementById("b_text")
        const c_text = document.getElementById('c_text')
        const d_text = document.getElementById('d_text')
        const button = document.getElementById('button')

        let currentQuiz = 0;
        let score = 0
        loadQuiz();

        function loadQuiz() {
            deleteCheck()
            const currentQuizData = quiz_Data[currentQuiz]
            if (currentQuizData) {
                questionEl.innerText = currentQuizData.question
                a_text.innerText = currentQuizData.a
                b_text.innerText = currentQuizData.b
                c_text.innerText = currentQuizData.c
                d_text.innerText = currentQuizData.d
            }
        }
        var id = 0;
        function checkAnswer() {
            let answer = undefined
            answerEl.forEach(el => {
                if (el.checked) {
                    answer = el.id;
                    id = el.id;
                }
            });
            return answer
        }

        function deleteCheck() {
            answerEl.forEach(el => {
                el.checked = false;
            })
        }



        button.addEventListener("click", () => {
            const answer = checkAnswer()
            result.push(quiz_Data[currentQuiz][id])
            console.log(result)
            if (answer) {

                if (answer === quiz_Data[currentQuiz].correct) {
                    score++
                }
                currentQuiz++;
                if (currentQuiz < quiz_Data.length) {
                    loadQuiz()
                } else {
                    xmlhttp = new XMLHttpRequest;
                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            var response = JSON.parse(xmlhttp.responseText);
                            window.location.href = "/Home/Suggest?message=" + response.message;
                        }
                    }
                    xmlhttp.open("POST", "/Home/Suggest");
                    xmlhttp.setRequestHeader("Content-Type", "application/json");
                    xmlhttp.send(JSON.stringify(result))
                }
            }

        })
    </script>
</body>
</html>