
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<section class="page-add pt-0 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-breadcrumb">

                    <a href="/">Trang chủ</a>

                    <a class="active" href="#">Đăng nhập</a>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</section>
<!-- Form sign in -->
<section class="vh-100 bg-image pt-1"
         style="background-image: url(@Url.Content("~/Content/Webapp/img/slider-2.jpg"));">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Đăng ký tài khoảnt</h2>

                            @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
                            {

                                <h3>@ViewBag.Message</h3>

                                <div class="form-outline mb-4">
                                    <input type="email" placeholder="Email" class="form-control form-control-lg" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" placeholder="Mật khẩu" name="Password" id="Password" required class="form-control form-control-lg" />

                                </div>

                                
                                

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        Đăng nhập
                                    </button>
                                </div>


                            }
                            <p class="text-center text-muted mt-5 mb-0">
                                Chưa có tài khoản <a href="/Home/SignUp"
                                                   class="fw-bold text-body"><u>Đăng ký ngay</u></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="account">
    <div class="container">
        <h2 style="color: #1E1E1E">Đăng nhập</h2>
        <div class="account_grid">
            <div class="col-md-6 login-right">
                <h4>@ViewBag.Message</h4>
                <form action="/Home/SignIn" method="post">




                </form>
            </div>
            <div class="col-md-6 login-left">
                <h4 style="color: #1E1E1E">BẠN CHƯA CÓ TÀI KHOẢN</h4>
                <p style="color: #1E1E1E">Bằng cách tạo tài khoản với cửa hàng của chúng tôi, bạn sẽ có thể thực hiện quy trình đặt hàng, xem và theo dõi đơn đặt hàng trong tài khoản của bạn và hơn thế nữa.</p>
                <a class="acount-btn" href="/Home/SignUp">Tạo ngay</a>


           

</div>*@

