
@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Thêm tin mới</h1>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <!-- form start -->
                    @using (Html.BeginForm("Add", "SlideManage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        <div class="card-body">
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" class="form-control" required name="Name">
                            </div>
                            <div class="form-group">
                                <label>Chọn hình (*)</label>
                                <input type="file" class="form-control" name="ImageUpload" required>
                            </div>
                            <div class="form-group">
                                <label>DisplayOrder</label>
                                <input type="text" class="form-control" required name="DisplayOrder">
                            </div>
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea class="form-control" required name="Description"></textarea>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="/SlideManage/" class="btn btn-default">Trở lại</a>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
