
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Admin/assets/css/app.css">

<div class="alert alert-success ">
    <h4 class="alert-heading">@ViewBag.message</h4>
</div>
