
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Admin/assets/css/app.css">

<div class="site-section h-75 d-flex align-items-center justify-content-center">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 text-center">
                <i class="fa fa-check-circle" style="font-size: 7rem; color: #b0bcc2;" aria-hidden="true"></i>
                <h2 class="display-3 text-black">Cảm ơn!</h2>
                <p class="lead mb-5">@ViewBag.Message</p>
                <p><a href="/" class="btn" style="background-color: #b0bcc2">Tiếp tục mua sắm</a></p>
            </div>
        </div>
    </div>
</div>
